__pycache__/
*.py[cod]
*.so
*~
.*

.venv/
venv/
env/

.pytest_cache/
.ruff_cache/
.mypy_cache/

build/
dist/
*.egg-info/

third_party/aiter/
third_party/HipKittens/
data/benchmarks/gemm/08_hipketten/build_hipkittens_mini/
